<!DOCTYPE html>
<html lang="en">
<title>{{title}}</title>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/custom.css">
   <script src="https://use.fontawesome.com/1a614e585d.js"></script>
  </head>

  <body>
{{> navbar}}

{{{body}}}
{{footer}}  
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/checkout.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/swipe.js"></script>  




  </body>
</html>
