<div class="container">
<body class="moviepagecolor"
	<div class="row">
		{{#each allmovies}}
			<div class="col-md-4">
			<a href="/movie/{{this.id}}">
				<div class="thumbnail">
					<div class="caption">
					<h3>{{this.mname}}</h3>		
					</div>
				</div>
			</a>
			</div>
		{{/each}}
	</div>
</div>
</div>
